# Data Analysis Assignment 2

## Part One: Exploring Data and Testing Hypotheses: Uncovering Insights from Dataset

In [2]:
# Imports
import pandas as pd
import numpy as np

### Task 1: Data Preparation and Exploration (5 marks)

In [13]:
# Read CSV
df = pd.read_csv("Employee_Performance.csv")

In [14]:
df.head()

,EmployeeID,Department,Gender,Experience,TrainingHours,PerformanceRating,Salary
0,1001,IT,Male,4,5,1.00,19000
1,1002,Marketing,Female,0,50,5.50,6900
2,1003,Sales,Male,0,5,1.00,6000
3,1004,HR,Male,1,5,1.00,6000
4,1005,HR,Female,9,5,1.04,38000

### Task 2: Assumptions, and Hypothesis Formulation (10 Marks)

### Task 3: Statistical Technique: Hypothesis Testing (20 marks)

### Task 4: Discussion and Conclusion (10 marks)

## Part Two: Regression Analysis

### Task 1: Identify Potential Predictor Variables (5 marks)

### Task 2: Assumptions for Regression Analysis (10 marks)

### Task 3: Regression Analysis (10 marks)

### Task 4: Assumptions of Linear Regression (10 marks)

### Task 5: Discussion and Conclusion (10 marks)